.right{
    text-align: right;
}
table{
    border-collapse: collapse;
    border: solid 1px black;
}
th{
    background-color: burlywood;
    color: brown;
}
td,th{
    border: solid 1px brown;
    padding: 8px;
}
tr:nth-child(odd){
    background-color: blanchedalmond;
}