
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Biblioteka publiczna</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div id="baner">
    <h3>Miejska Biblioteka Publiczna w Książkowicach</h3>
</div>
<div id="lewy">
    <h2>Dodaj czytelnika</h2>
    <form action="biblioteka.php" method="post">
        <label>
            imię:
            <input type="text" name="imie" /><br/>
        </label>
        <label>
            nazwisko:
            <input type="text" name="nazwisko" /><br/>
        </label>
        <label>
            rok urodzenia:
            <input type="number" name="rok" /><br/>
        </label>
        <button>DODAJ</button>
    </form>
 
</div>
<div id="srodkowy">
    <img src="~/media/biblioteka.png" alt="biblioteka" />
    <h4>
        ul. Czytelnicza 25<br/>
        12-120 Książkowice<br/>
        tel.: 123123123<br/>
        e-mail: <a href="mailto:biuro@bib.pl">biuro@bib.pl</a>
    </h4>
</div>
<div id="prawy">
    <h3>Nasi czytelnicy</h3>
    <ul>
        
    </ul>
</div>
<div id="stopka">
    <p>Projekt witryny: PESEL</p>
</div>
</body>
</html>