.info{
    text-align: center;
    margin: auto;
    height: 200px;
    width: 80%;
    border: solid 1px black;
    background-color: bisque;
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}
.button{
    width: 200px;
    padding: 10px;
}
.button:disabled{
    /* pointer-events: none; */
    cursor: not-allowed;
}
.container{
    display: flex;    
}
div.info2{ display: flex;}
div.info2 div{
    margin: 20px;
    text-align: center;    
    height: 100px;
    width: 350px;
    border: solid 1px black;
    background-color: rgb(217, 156, 87);
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}
#fadeInElem{
    display: none;
}