<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css">
    <title>Kursy</title>
</head>

<body>
<div class="container">
    <header>
        <h1>System kursów 2023-23</h1>
    </header>

    <section class=main>
        <nav class="my-nav">
             @*{ Html.Partial("_Nav", Model);}*@
           @await Html.PartialAsync("_Nav")
           
        </nav>
        <section id="content">
                @RenderBody()
        </section>
    </section>

</div>

</body>

</html>
