

<div class="list-group">
    @foreach (Division c in ViewBag.courses)
    {
        <a asp-route-id="@c.Id" 
           style=""
           class="btn btn-outline-success m-2 w-100">
        
        @c.Name

        </a>
    }
</div>
