@page
@model WebEmptyFile.Pages.CounterPageModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Licznik odwiedzin: ...</h1>
        <nav>
            <a asp-page="Index">Powrót</a>
        </nav>
        <main>
            <form method="post">
                <input class="btn btn-info" type="submit" value="Resetuj licznik"/>
            </form>
        </main>
    </div>

</body>
</html>