#baner{
    background-color: #40271A;
    color : white;
    font-family: Tahoma;
    text-align: center;
    height: 80px;
}
main{
    display: flex;
}
#lewy{
    background-color: #DBB29C;
    width: 40%;
    height: 700px;
}
#prawy{
    background-color: #FFE3D4;
    width: 60%;
    height: 700px;
}
footer{
    background-color:#40271A ;
    color : white;
    text-align: right;
}
table{
    border: 1px dashed brown;
    width: 500px;
    margin: 10px;
    text-align: center;
}
td{
    border: 1px dashed brown;
}
ol{
    list-style-type: upper-roman;
}