
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <title>Index</title>
</head>
<body>
<h3>Tu będzie strona</h3>
<div>
    <img src="~/media/zwierzeta.jpg" alt="zwierzeta"/>
</div>
<div>
    <h3>Lista zwierzat</h3>
    <ol>
        @foreach (var animal in ViewBag.animals as List<Animal>) {
            <li>@animal.gatunek @animal.gromady_id</li>
        }
    </ol>
</div>
</body>
</html>
