@page
@model MyApp.Namespace.Page2Model
@{
}
<div>
    <form  method="post">
        <input asp-for="Limit" placeholder="podaj limit"/>
        <input type="submit" value="Generuj">
    </form>
</div>
<hr>
<p>liczby pierwsze wyswietlenie</p>