
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Happy</title>
</head>
<body>
<div>
    Już tylko 10 miesięcy do wakacji
</div>
</body>
</html>
