
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Happy</title>
</head>
<body>
    <h1>Niestety już po wakacjach</h1>
<div>
    <a asp-controller="Holiday" asp-action="Happy">
        <img src="~/media/HolidayEnd.jpg" alt="wakacje" />
    </a>

</div>
<div>
        <a asp-action="Baza">Strona z bazą danych</a>
    
</div>
</body>
</html>




