<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Strona Index2 akcja: <i>Index</i> w kontrolerze <i>Home</i></h1>
    <div>
        Dzisiaj mamy: @DateTime.Now
    </div>
   
</body>
</html>