<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/site.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello from view Index2 in Home controller</h1>
    <div>
        Dzisiaj mamy: @DateTime.Now
        <nav>
            <ul>
                <li>
                    <a asp-controller="Students" asp-action="Show">do akcji Show</a>
                </li>
                <li>
                    <a asp-controller="Physics" asp-action="Newton">Zasady dynamiki</a>
                </li>
                <li>
                    <a asp-controller="Students" asp-action="List">Lista studentów</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>