@model cw14_mvc.Models.Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Informacje o studencie</h1>
    <div>Imię: @Model.FirstName</div>
    <div>Nazwisko: @Model.LastName</div>
    <div>Wiek: @Model.Age</div>
</body>
</html>